@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@200;300&display=swap');
:root{

    --button-color: #0277bd;
--bgn-color: #000;
--h-titel: 20px;
--p-titel: 15px;

}

.apps{
    background: #f2f2f2;
     width: 100%;
  
}

